@model IEnumerable<Todoer.Models.DtoModels.IndexTaskDto>



@{
    ViewData["Title"] = "Index";
}
@if (User.Identity.IsAuthenticated)
{
    <table class="table">
        <thead>
        </thead>
        <tbody>
            <form asp-action="Index">
                <div class="container" style="display: flex; flex-direction: row; flex-wrap: wrap">
                    <h5>Sort settings:</h5>
                    <div class="container-fluid form-group" style="flex: 0">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="PriorityRadio" name="prop" value="Priority" class="custom-control-input" checked="">
                            <label class="custom-control-label" for="PriorityRadio">Priority</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="DeadlineRadio" name="prop" value="Deadline" class="custom-control-input">
                            <label class="custom-control-label" for="DeadlineRadio">Deadline</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="TitleRadio" name="prop" value="Title" class="custom-control-input">
                            <label class="custom-control-label" for="TitleRadio">Title</label>
                            @Html.ActionLink("Title", "Index", new { sortOrder = "TitleAsc" })
                        </div>
                    </div>
                    <div class="container-fluid form-group" style="flex: 1; max-width: 9em;">
                        <div class="custom-control custom-radio">
                            <input type="radio" value="Asc" name="order" class="custom-control-input" checked="">
                            <label class="custom-control-label">Ascending</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" value="Desc" name="order" class="custom-control-input">
                            <label class="custom-control-label">Descending</label>
                        </div>
                    </div>
                    <div style="flex: 2; padding-top: 1em">
                        <input type="submit" value="Sort" class="btn btn-default bg-primary" />
                    </div>
                </div>
            </form>
        


        <div class="container" style="display: flex; flex-direction: row; flex-wrap: wrap;">
            @foreach (var item in Model.Reverse())
            {
                <div class="@item.Priority" style="width: 15em">
                    @*<img class="card-img-top" src="..." alt="Card image cap">*@
                    <div class="card-header text-center">@item.Title</div>
                    <div class="card-body">
                        <h6 class="card-title text-center">@item.DeadlineDate</h6>
                        <h6 class="card-title text-center">@item.DeadlineTime</h6>
                        <p id="p-Description" class="card-text text-center">@item.Description</p>
                        <div class="text-center">
                            <hr/>
                            <a class="text-white" asp-action="Edit" asp-route-id="@item.Id"> Edit </a>
                            <a class="text-white" asp-action="Details" asp-route-id="@item.Id"> Details </a>
                            <a class="text-white" asp-action="Delete" asp-route-id="@item.Id"> Done </a>

                        </div>

                    </div>
                </div>
            }
            <a asp-action="Create"><i class="fas fa-plus-circle"></i></a>

        </div>
        </tbody>
    </table>
}
else
{
    <h4>Register new account or login.</h4>
}
